  /*
    Flaticon icon font: Flaticon
    Creation date: 08/09/2018 00:19
    */

    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.eot");
        src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
             url("../fonts/Flaticon.woff") format("woff"),
             url("../fonts/Flaticon.ttf") format("truetype"),
             url("../fonts/Flaticon.svg#Flaticon") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("Flaticon.html#Flaticon") format("svg");
        }
      }
      
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      .flaticon-document:before { content: "\f100"; }
      .flaticon-file:before { content: "\f101"; }
      .flaticon-teacher:before { content: "\f102"; }
      .flaticon-instructor:before { content: "\f103"; }
      .flaticon-call:before { content: "\f104"; }
      .flaticon-smartphone:before { content: "\f105"; }
      .flaticon-sketch:before { content: "\f106"; }
      .flaticon-office-building:before { content: "\f107"; }
      .flaticon-worldwide:before { content: "\f108"; }
      .flaticon-neural:before { content: "\f109"; }
      .flaticon-algorithm:before { content: "\f10a"; }
      .flaticon-ai:before { content: "\f10b"; }
      .flaticon-nanotech:before { content: "\f10c"; }
      .flaticon-data-mining:before { content: "\f10d"; }
      .flaticon-data-science:before { content: "\f10e"; }
      .flaticon-chip:before { content: "\f10f"; }
      .flaticon-prototype:before { content: "\f110"; }
      .flaticon-creativity:before { content: "\f111"; }
      .flaticon-paint-palette:before { content: "\f112"; }
      .flaticon-clock:before { content: "\f113"; }
      .flaticon-location:before { content: "\f114"; }
      .flaticon-email:before { content: "\f115"; }
      .flaticon-medal:before { content: "\f116"; }
      .flaticon-cap:before { content: "\f117"; }
      .flaticon-trophy:before { content: "\f118"; }
      .flaticon-teacher-1:before { content: "\f119"; }
      .flaticon-group-of-students:before { content: "\f11a"; }
      .flaticon-online-class:before { content: "\f11b"; }
      .flaticon-knowledge:before { content: "\f11c"; }
      .flaticon-online-course:before { content: "\f11d"; }
      .flaticon-book:before { content: "\f11e"; }
      .flaticon-faculty-shield:before { content: "\f11f"; }
      .flaticon-insurance:before { content: "\f120"; }
      .flaticon-film:before { content: "\f121"; }
      .flaticon-play-button:before { content: "\f122"; }
      .flaticon-translation:before { content: "\f123"; }
      .flaticon-settings:before { content: "\f124"; }
      .flaticon-levels:before { content: "\f125"; }