.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}

.styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
}

#mainselection {
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
}

span.dropcap {
    font-family: 'Philosopher', sans-serif;
    font-size: 48px;
    font-weight: 400;
    float: left;
    margin: 2px 10px 2px 0;
    padding: 8px 2px 8px 5px;
    border-top: 2px solid #e90606;
    border-left: 2px solid #e90606;
}

.min-height-130px{
    height: 130px;
}
.min-height-45px{
    height: 45px;
}
.min-height-100px{
    height: 70px;
}

.padding-5px{
    padding:5px;
}
.image-showing{
    width: 250px;
}
.shadowLevel2 {
    font-family: 'Niconne', cursive;
    color: #1C4370;
    font-size: 22px;
    font-weight: 600;
}
.marigin-top-50px{
    margin-top:50px;
}
.margin-top-30px{
    margin-top:30px;
}
.width-5per{
    width:5%;
}
.width-10per{
    width:10%;
}
.width-15per{
    width:15%;
}
.width-20per{
    width:20%;
}
.width-25per{
    width:25%;
}
.width-35per{
    width:35%;
}
.width-40per{
    width:40%;
}
.width-45per{
    width:25%;
}
.width-50per{
    width:50%;
}
.width-55per{
    width:55%;
}

.width-60per{
    width:60%;
}
.width-65per{
    width:25%;
}
.width-70per{
    width:70%;
}
.width-75per{
    width:25%;
}
.width-80per{
    width:80%;
}
.width-85per{
    width:85%;
}
.width-90per{
    width:90%;
}
.width-95per{
    width:95%;
}
.width-99per{
    width:99%;
}

.width-100per{
    width:100%;
}
.vertical-align-middle{
    vertical-align: middle !important;
}

.padding-bottom-20px{
    padding-bottom:20px;
}
.font-size-18px{
    font-size: 16px;
}
/* Notable alumni */


.notable-alumni .author-items {
    padding: 40px;
    border: 1px solid #e7e7e7;
    border-top: none;
    overflow: hidden;
}
.notable-thum {
  height: 180px;
}
.notable-thum img{
    height: 150px;
    margin-top: 20px;
}


.noteable-reason{
    color: #ffb606;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.notable-info {
    padding: 10px;
    background: #002147 none repeat scroll 0 0;
}

.notable-info h4 {
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 10px;
    border: 1px solid #e7e7e7;
    font-weight: 600;
}
.line-height-30px{
    line-height: 30px;
}
.table-style td{
    font-size:12px!important;
}
.table-style th{
    font-size:11px !important;
}

.du_heading {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.title-heading {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.bold{
    font-weight: bold;
}
.office-left-bar-heading {
    padding: 8px;
    font-weight: bold;
}
@media only screen and (min-width: 601px){
    .foreign-student_flayer {
        position: absolute;
        left: 20%;
        top: 70%;
        z-index: 9999;
    }
}
@media only screen and (max-width: 600px) {
    .foreign-student_flayer {
        position: absolute;
        left: 42%;
        top: 48%;
        z-index: 9999;
        padding: 5px !important;
        font-size: 9px;
    }
}


/* Institute home page */
.gradient-text {
    /* font-size: 40px; */
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0 0px 10px 0px #cccccc;
    /* Fallback: Set a background color. */
    background-color: #ca4246;

    /* Create the gradient. */
    background-image: linear-gradient(
        45deg,
        #ca4246 16.666%,
        #e16541 16.666%,
        #e16541 33.333%,
        #f18f43 33.333%,
        #f18f43 50%,
        #8b9862 50%,
        #8b9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #a7489b 83.333%
    );

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    box-shadow: 0 10px 10px 10px #cccccc;
    transition: all 0.5s ease;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

/* Style the rest of the page. */
/* body { */
/* background-color: #fdf1f0; */
/* } */
/*  */
/* header { */
/* margin-top: 1em; */
/* margin-top: calc(50vh - 3em); */
/* } */
/*  */
/* h1 { */
/* font-family: "Archivo Black", sans-serif; */
/* font-weight: normal; */
/* font-size: 6em; */
/* text-align: center; */
/* margin-bottom: 0; */
/* margin-bottom: -0.25em; */
/* display: block; */
/* margin-left: auto; */
/* margin-right: auto; */
/* cursor: pointer; */
/* width: 605px; */
/* } */

.text-shadows {
    text-shadow: 0 1px 0 hsl(52, 7%, 20%), 0 2px 0 hsl(52, 7%, 18%),
    0 3px 0 hsl(52, 7%, 16%), 0 4px 0 hsl(52, 7%, 14%), 0 5px 0 hsl(52, 7%, 12%),
    0 6px 0 hsl(52, 7%, 10%), 0 7px 0 hsl(52, 7%, 8%), 0 8px 0 hsl(52, 7%, 6%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.gradient-text2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    box-shadow: 0 0px 10px 0px #cccccc;
    /* Fallback: Set a background color. */
    background-color: #ca4246;

    /* Create the gradient. */
    background-image: linear-gradient(
        45deg,
        #ca4246 16.666%,
        #e16541 16.666%,
        #e16541 33.333%,
        #f18f43 33.333%,
        #f18f43 50%,
        #8b9862 50%,
        #8b9862 66.666%,
        #476098 66.666%,
        #476098 83.333%,
        #a7489b 83.333%
    );

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text2:hover {
    animation: rainbow-text-simple-animation2 0.5s ease-in forwards;
    box-shadow: 0 10px 10px 10px #cccccc;
    transition: all 0.5s ease;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev2 {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation2 {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

/* Glyph, by Harry Roberts */

.hrule-style {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    padding-top: 20px !important;
}
.hrule-style:after {
    content: 'à¸¢à¸‡';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* .readmore { */
/* color: #f18f43; */
/* font-size: 13px; */
/* } */
/* .readmore:hover { */
/* color: red; */
/* } */

.panel {
    border: 0px !important;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    overflow: hidden;
}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*Research Center*/

.rscenter_name{
    font-weight:bold;
    color:#333;
    font-size:14px;
    padding:5px 0px 0px 0px;
    min-height: 50px;
    background:#eee;
    vertical-align:middle;
}

.rscenter_url a{
    color:#333 !important;
    font-family:tahoma;
    font-size:13px;
}
.rscenter_url a:hover{
    color:blue !important;
}

.director_info{
    font-size:13px;
    font-family:tahoma;
}
.director{
    text-decoration:underline;font-weight:bold;
}
.research-border-bottom{
    border-bottom:1px solid #d0d0d0;
}
.research-faculty-name{
    font-weight:bold;color:#333;padding:10px;font-size: 1.8rem;background-color:#eee;margin-bottom:10px;
}
.research-center-info{
    margint:10px;border:1px solid #d0d0d0;min-height:415px;
}
.total_number a{
    color:blue !important;
    font-size:16px;
}


/*Faculty Member Profile*/
.research-activites-heading {
    font-weight: bold !important;
    padding: 10px 0px;
    text-decoration: underline;
}
#employee_details_web td {
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 13px !important;

}

#employee_details_web th {
    padding: 5px;
    border-bottom: 1px solid #d0d0d0;
    font-size: 13px !important;
    background: #eeeeee;
}

#employee_details_web tr:nth-child(odd) td {
    background: #F9F9F9
}
.width100per{
    width: 100% !important;
}
.width2per{
    width: 2% !important;
}
.no-data-found{
    color: darkred !important;
    font-weight: bold;
}

#tableStyle td{
    font-size:13px !important;
}
#tableStyle th{
    font-size:13px !important;
}

.publication-ul-li{
    border-top: 1px solid #eee;padding:7px;
}
.publication-ul-li:hover{
    background: #eee;
    border-radius: 2px;
}
.margin-right-5px{
    margin-right:5px;
}
.profile_link a{
    color:green;
}
.profile_link a:hover{
    color:red;
}
.padding-bottom-12px {
    padding-bottom: 12px;
}
.NoDataFound{
    text-align: center;
    font-weight: bold;
    color:red;
}

.background-white{
    background-color: #fff !important;
}
.research_publication_heading{
    background-color: #eee !important;padding: 11px;
}
.min-height-150px{
    min-height: 150px;
}





/*Form style*/

.leave-title-heading{
    font-weight: bold;
    font-size:16px;
}
.leave-application-content{
    padding-top:8px;
    text-align: justify;
    font-size: 15px;
}
.span-font-bold{
    font-weight:bold;
}
.span-font-bold-red{
    font-weight:bold;
    color:blue;
}
.leave-application-download li{
    color:black !important;
    font-size:16px;
    line-height: 30px;
}
.leave-application-download a{
    color:blue !important;
    font-weight:bold;
    font-size:14px;
}

#duForms ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 16px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#duForms ol ol {
    margin: 0 0 0 3em; /* Add some left margin for inner lists */
    counter-reset: li;
}
.rectangle-list a{
    position: relative;
    display: block;
    padding: .6em .6em .6em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list a:hover{
    background: #b3b3b3;
}

.rectangle-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #5bd5f1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #5bd5f1;
}


.rounded-list li a{
    color:#333 !important;
}


.email-ul li{
    line-height:30px;
    text-align:justify;
    font-size:15px;
}
.color-red{
    color:red;
}


/*// contact us*/
.contact-us{
    line-height: 29px;
    font-family: Tahoma;
    letter-spacing: 1px;
}
.contact-us .heading{
    font-size:18px;
}
.contact-us .building{
    font-size:16px;

}
.contact-us .address{
    font-size:14px;
    font-weight: bold;
}
.contact-us .phoneEmail{
    font-size:15px;
}



.border-left{
    border-left: 3px dotted #d0d0d0;
}


/* AccordionCode*/

.panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
    /*text-transform:uppercase;*/
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
}
.panel-heading  a:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f13a ";
    float: right;
    transition: all 0.5s;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
#heading-gradiant{
    background-color: #002147;
    background-image: linear-gradient(to left, #ffb606, #002147, transparent);
}

.text-light a.top_mail_link:hover {
    color: #ffb606;
}

.btn-sm {
    padding: 2px 10px;
    font-size: 12px;
}

.loadlater{
    text-align: center !important;
}
.sidebar-info ul li a{
    text-decoration: none !important;
}